<!--Barra de Menú Principal = "mat-toolbar" -->
<mat-toolbar id="menu-bar">
  <!--Botón de Menú-->
  <button mat-button>
    <mat-icon class="toolbar-element">menu</mat-icon>
  </button>

  <span style="flex: auto;"></span>

  <button mat-button class="toolbar-element" routerLink="/home" >Home</button>
  <button mat-button class="toolbar-element" routerLink="/profile" >Perfil</button>

  <button mat-button [matMenuTriggerFor] = "importMenu" class="toolbar-element">
    <mat-icon iconPositionEnd>keyboard_arrow_down></mat-icon>
    Importar
  </button>

  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/loadEstudiantes" >Cargar Estudiantes</button>
    <button mat-menu-item routerLink="/loadPagos" >Cargar Pagos</button>
  </mat-menu>

  <button mat-raised-button id="exit-button" routerLink="/login" >Salir</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/dashboard" class="mat-list-item">
          <mat-icon class="dashboard-icon">dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/estudiantes" class="mat-list-item">
          <mat-icon class="dashboard-icon">dashboard</mat-icon>
          Estudiantes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/pagos" class="mat-list-item">
          <mat-icon class="dashboard-icon">dashboard</mat-icon>
          Pagos
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
